.projects{
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;
    h2{
        margin: 5rem;
    }
    img{
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha:0.2);

    }
}

.title{
    h2{
        margin: 2rem;
        @include flex(left,left,column);

    }
}

.Calmly, .elena{
    flex: 1 1 40rem;
    @include flex(center, center, column);
}
