* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins-Light', sans-serif;
    font-size: 4rem;
    color: rgb(235, 103, 103);
    padding: 3rem;
}

#homework{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
    width: 80%;
    height: 40vh;
    background-color: rgb(203, 203, 203);
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
    color: white;
}

.container, .form, #form1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-family: 'poppins', sans-serif;
}

.form input{
    padding: 1rem;
    border-radius: 50px 50px 50px 50px;
    width: 50%;
    margin: 1rem;
    border: none;
    outline: none;
}


.form button{
    padding: 0.5rem 2rem;
    background: rgb(197, 76, 76);
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.form button:hover{
    background: rgb(214, 100, 100);
    font-size: 1.4rem;
}