/* Global Styles */

* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

/* Nav Section & Hero */

.main-head {
  background: #94c9a9;
  color: white;
  position: sticky;
  top: 0%;
  z-index: 3;
  box-shadow: black;
}

nav {
  min-height: 10vh;
  width: 90%;
  display: flex;
  margin: auto;
  padding: 2rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 3 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding-left: 40%;
}

#Logo {
  flex: 1 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.hero {
  min-height: 90vh;
  background: url(/Img/pexels-simon-berger-1118448.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #342e35;
}

.hero h2 {
  padding: 1rem 0rem;
}

.hero h3 {
  padding: 2rem 0rem;
}

.btn {
  padding: 2rem 6rem;
  background: teal;
  border-radius: 3rem;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: rgb(137, 190, 190);
  font-size: 2rem;
}
