*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    background: red;
    color: white;
    padding: 1rem 1rem;
}

 html {
        font-family: sans-serif;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
      }

      .lastResult {
        color: white;
        padding: 3px;
      }