/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "oswald-reg";
  src: url("/Fonts/Oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "oswald-medium";
  src: url("/Fonts/Oswald/Oswald-Medium.ttf");
}

@font-face {
  font-family: "mukta";
  src: url("/Fonts/Mukta-Light.ttf");
}

@font-face {
  font-family: "bebas";
  src: url("/Fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "righteous";
  src: url("/Fonts/Righteous-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem +1vw);
  --header2: calc(3.5rem +1vw);
  --header3: calc(3rem +1vw);
  --header4: calc(2.4rem +1vw);
  --text: calc(1.5rem +1vw);
  --big: calc(2.4rem +1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #6d6d6d;
}

html,
body {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
  color: black;
}

a {
  text-decoration: none;
}

.min-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgb(53, 53, 53);
  color: white;
  height: 4vh;
  width: 100%;
  letter-spacing: 3px;
}

.main-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  margin: auto;
  height: 10vh;
  background: rgb(255, 255, 255);
  color: white;
  border-bottom: rgba(0, 0, 0, 0.1) 3px solid;
}

.navbar {
  display: inline-block;
  position: sticky;
  width: 100%;
  min-height: auto;
  z-index: 1;
}

#logo {
  display: block;
  font-family: "oswald-reg", sans-serif;
  font-size: 2.8rem;
  font: bolder;
  position: relative;
  margin: 3rem;
  padding: 1.5rem;
  color: #906272;
}

nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  float: right;
  width: 100%;
  margin: auto;
}

nav ul {
  display: inline-block;
  position: relative;
  left: 50%;
  padding: 1.8rem;
  width: 70%;
  font-size: 1.4rem;
  flex: 1 1 40rem;
  font-family: sans-serif;
  list-style: none;
  letter-spacing: 2px;
  margin-top: 0.5rem;
  font-family: "oswald-reg";
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 2rem;
}

nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  line-height: 45px;
}

nav li a:hover {
  color: var(--special-color);
}

.hero {
  width: 100%;
  min-height: 65vh;
  background: rgb(202, 202, 202);
  align-items: center;
  justify-content: center;
}

.hero h2 {
  position: relative;
  font-size: 6rem;
  font-family: sans-serif;
  font: bolder;
  background: rgb(0, 0, 0);
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  color: white;
}

.hero img {
  width: 920px;
  left: 40%;
  display: flex;
}

.img-container {
  float: right;
  width: 100%;
  min-height: 65vh;
  align-items: center;
  justify-content: center;
}

.img-container img {
  position: absolute;
  top: 10%;
}

.hero button {
  position: relative;
  display: flex;
  margin-left: 24%;
}

button {
  padding: 1rem 7rem;
  margin: 1rem;
  background: var(--special-color);
  border: none;
  border-radius: 3px;
  font-size: 3rem;
  font: bolder;
  font-family: "oswald-reg", sans-serif;
  color: white;
}

button:hover {
  background: #c4849a;
  font-size: 3.5rem;
  transition: ease 1s;
}

.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
