* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #65f6bf, #a585fd);
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #a585fd;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #65f6bf;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.fas fa-check,
.fas fa-trash,
.fa-regular fa-stopwatch {
  color: white;
  background: white;
}

.trash-btn,
.complete-btn, .timer-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(101, 209, 101);
}

.timer-btn {
  background: #ffd447;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check, .fa-regular {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #3c755f;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

#timer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #3c755f;
  z-index: 10;
  width: 500px;
  max-width: 80%;
}

#timer.active{
  transform: translate(-50%, -50%) scale(1);
}

.timer-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-btn{
  background-color: #6fbd9f;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
}

.timer-title{
  display: flex;
}

.timer-body{
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #a585fd;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #a585fd;
}
